<div class="container-fluid">
  <div class="row-fluid">
    <div id="header" class="col-md-12">
      <a href="https://shreydesai.github.io">
        <img id="profile" src="{{ "/images/profile.png" | prepend: site.baseurl }}">
      </a>
      <h1>Shrey Desai</h1>
      <h2>Weekly reveries on undergraduate life, computer <br>science, and software engineering</h2>
      <div id="social">
        <a href="https://twitter.com/shreydesai">
          <img src="{{ "/images/twitter.svg" | prepend: site.baseurl }}">
        </a>
        <a href="https://www.linkedin.com/in/shreydesai">
          <img src="{{ "/images/linkedin.svg" | prepend: site.baseurl }}">
        </a>
        <a href="https://github.com/shreydesai">
          <img src="{{ "/images/github.svg" | prepend: site.baseurl }}">
        </a>
      </div>
    </div>
  </div>
</div>
