<header class="site-header">

<div class="profile">
    <a href="{{ site.url }}"><img src="{{ "/images/profile.png" | prepend: site.baseurl }}"></a>
    <h1>Shrey Desai</h1>
    <p>Reveries on undergraduate life, computer<br>science, and software engineering</p>
    <div class="icons">
      <a href="https://twitter.com/shreydesai">
        <img src="{{ "/images/twitter.svg" | prepend: site.baseurl }}">
      </a>
      <a href="https://www.linkedin.com/in/shreydesai">
        <img src="{{ "/images/linkedin.svg" | prepend: site.baseurl }}">
      </a>
      <a href="https://github.com/shreydesai">
        <img src="{{ "/images/github.svg" | prepend: site.baseurl }}">
      </a>
    </div>
</div>

</header>
